<%= render "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex">
      <h1 class="mr-auto mt-5 mb-5" style="color:black">Hey <% if current_user %>
        <%= current_user.fullname %>
        <% end %>, check out <br> those juicy brains 🧠 🧠 🧠</h1>
    </div>
  </div>

  <div id="map"
    style="width: 100%; height: 600px; border-radius: 10px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

</div>

<div class="container mt-5 mb-5">

  <div class="row">
    <div class="col-12 d-flex align-items-end flex-column">
    <%= link_to "Create a new Brain", new_brain_path %>
    </div>
  </div>

  <div class="row">
    <% @brains.each do |brain|  %>
      <%= link_to brain_path(brain) do %>
        <div class="col-3 p-4 mb-5" id="genius_card" >
        <%= image_tag "#{brain.icon_path}", alt: "Le Wagon", width: 90 %>
        <h5 class="text-start pl-1 mt-5 mb-2"><%= link_to brain.name, brain_path(brain) %></h5>
        <div class="space_flex mb-3">
          <h5 class="pl-1"><%= brain.price_per_minute %> ₿</h5>
          <h5 class="pl-1 "><%= brain.iq %> IQ</h5>
        </div>
      <% end %>
      </div>
      <div class="col-1"></div>
    <% end %>
  </div>

</div>
