<div class="container">
<%= render "shared/navbar" %>
  <div class="row">
    <div class="col-12 d-flex">

      <h1 class="mr-auto" style="color:black">All brains</h1>
    </div>
  </div>

</div>

<div class="container mb-5">

  <div class="row">
    <div class="col-12 d-flex align-items-end flex-column">
    <%= link_to "Create a new Brain", new_brain_path %>

    </div>
  </div>
</div>


    <div class="row">
     <% @brains.each do |brain|  %>
  <%= link_to brain_path(brain) do %>
      <div class="col-3 p-4"  id="genius_card" >

                <%= image_tag "brain_icon_passive", alt: "Le Wagon", width: 90 %>
                <h5 class="text-start pl-1 mt-5 mb-2"><%= link_to brain.name, brain_path(brain) %></h5>
                <div class="space_flex mb-3">
                   <h5 class="pl-1"><%= brain.price_per_minute %> ₿</h5>
                  <h5 class="pl-1 "><%= brain.iq %> IQ</h5>
                </div>
    <% end %>
          </div>

      <div class="col-1"></div>
      <% end %>
    </div>
