<%= render "shared/navbar" %>
<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1 class="mb-5" style="color:black">Create a new brain</h1>
      <%= simple_form_for @brain do |f| %>
        <%= f.input :name %>
        <%= f.input :category, :collection => %w[Heros Sports Science Philosophy EvilMinds Saviours Arts T.A's] %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price_per_minute %>
        <%= f.input :iq %>
        <%= f.input :eq %>
        <%= f.submit class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
  </div>
</div>
