<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new brain</h1>
      <%= simple_form_for @brain do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price_per_minute %>
        <%= f.input :iq %>
        <%= f.input :eq %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
