<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brain.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brain.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @brain.price_per_minute %>
</p>

<p>
  <strong>IQ:</strong>
  <%= @brain.iq %>
</p>

<p>
  <strong>EQ:</strong>
  <%= @brain.eq %>
</p>




<%= link_to 'Edit', edit_brain_path(@brain) %> |
<%= link_to 'Back', brains_path %> |
<%= link_to 'delete this brain', brain_path(@brain), method: :delete,  data: { confirm: 'Are you sure you want to delete this brain?' }  %> |
<%= link_to 'Book this brain', new_brain_booking_path(@brain) %>
