<div class="container">
<%= render "shared/navbar" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>

  <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brain.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brain.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @brain.price_per_minute %>
</p>

<p>
  <strong>IQ:</strong>
  <%= @brain.iq %>
</p>

<p>
  <strong>EQ:</strong>
  <%= @brain.eq %>
</p>

<p>
  <strong>User:</strong>
  <p> to be added: @brain.user_id </p>
</p>


<%= link_to 'Edit', edit_brain_path(@brain) %> |
<<<<<<< HEAD
<%= link_to 'Back', brains_path %>

<script>
  var brainIq = <%= @brain.iq %>;
var Chart = require('chart.js');
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [{
      label: '# of Votes',
      data: [12, 19, 3, 5, 2, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
});

</script>
=======
<%= link_to 'Back', brains_path %> |
<%= link_to 'delete this brain', brain_path(@brain), method: :delete,  data: { confirm: 'Are you sure you want to delete this brain?' }  %>
>>>>>>> 4d1789090623ef3357942679688fb16038cf11e8
